@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
    padding-left: 290px;
    padding-top: 100px;
    overflow-y: auto;
    padding-bottom: 120px; 
}
input{
    color: #FFFFFF;
    background-color: black;
 padding: 6px;
 font-size: 24px;
}
h1{
    font-size: 60px;
    font-weight: 500;
}
.inp{
    width: 720px;
    height: 46.01px; 
    border-bottom: 1px solid white; 
    border-top: none;
    border-right: none;
    border-left: none;
}
.inp::placeholder {
    color: #FFFFFF; 
    opacity: 1; 
}
button{
 width: 226px;
 height: 58px;
font-size: 24px;
margin-top: 8px;
}
main{
    margin-top: -30px;
}


